.circleBase {
    border-radius: 50%;
    border: none;

    text-align: center;
    
    width: 300px;
    height: 300px;

    transition: 0.3s;
    outline: none;
    cursor: move;

    box-shadow: 2px 2px 2px 2px #00000055;
    background-color: #DDDDDD;

    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.circleBase:hover {
    filter:brightness(110%);
}

#powerLevel img {
    width: 30px;
    height: 30px;
    
    transform: translateY(7px);

    cursor: pointer;
    
    animation: 0.3s;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;      
}

#powerLevel input {
    width:50px;
}

#powerLevel img:hover {
    filter: invert(20%);
}

.player {
    position: absolute;
    text-align: center;

    top: 25%;
    left: 25%;

    z-index: 1;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
                                 

    background-color: rgba(179, 149, 67, 0.85);
}

#focus {
    z-index: 5;
}

/* Input Elements */
.circleBase input {
    background-color: #00000000;
    border: none;
    margin: 15px;
    text-align: center; 
    font-size: 20px;
    outline: none;
}

#male {
    background-color: #9999FF;
}

#female {
    background-color: #FF9999;    
}

#none {
    background-color: #999999;    
}

/* Menu Buttons */
#menu {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
}

#menu button {
    box-shadow: 2px 2px 2px 2px #00000055;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    margin: 10px;     
    font-size: 50px;
    text-align: center;
    border: none;
    color: rgba(255, 255, 255, 0.9);
}

#menu button:active {
    transform: translate(0.5px, 0.5px);
    box-shadow: 1px 1px 1px 1px #00000055;
}

#addPlayer {
    background-color: rgba(255, 0, 0, 0.75);
}

#removePlayer {
    background-color: #333333;
}

.activeButton {
    border: 2px solid red !important;
    box-shadow: 1px 1px 1px 1px #00000055 !important;
    filter:brightness(80%) !important;
}

.clickAnimation:hover {
    filter:brightness(120%);
}

.clickAnimation:active {
    filter:brightness(80%);
}

@media screen and (max-width:800px), (max-height:800px) {
    .circleBase {
        width: 150px;
        height: 150px;
    }

    .circleBase input {
        margin: 5px;
        font-size: 15px;
    }
} 

.specialName {
    animation: specName 3s linear infinite !important;
}

@keyframes specName {
    0%   {background-color:rgba(255, 0,   0,   0.8); }
    33%  {background-color:rgba(0,   255, 0,   0.8); }
    66%  {background-color:rgba(0,   0,   255, 0.8); }
    100% {background-color:rgba(255, 0,   0,   0.8); }
}