<div class="player focus">
    <div class="circleBase none">
        <input maxlength="20" value="name" onchange="testForSpecialName(this)">
        <div id="numbers"><img src="media/left_arrow.svg" alt="left" onclick="changePower(this, -1);" class="clickElement">
            <input maxlength="20" value="1"><img src="media/right_arrow.svg" alt="right" onclick="changePower(this, 1);" class="clickElement"></div>
        <div id="numbers"><img src="media/left_arrow.svg" alt="left" onclick="changePower(this, -1);" class="clickElement">
            <input maxlength="20" value="1"><img src="media/right_arrow.svg" alt="right" onclick="changePower(this, 1);" class="clickElement"></div>
        <input maxlength="20" value="gender" onchange="testForSignal(this);">
    </div>
</div>